h1 {
    color: #4d567b;
    font-size: 3.2em;
    font-family: 'BitBit', sans-serif;
    font-weight: 400;
    margin-top: 40px;
    margin-left: 3%;
}

/* 뒤로 가기 */
.back-button {
    position: absolute;
    top: 20px;
    left: 20px;
    background-color: #f4f4f7;
    color: #2a3478;
    border: 1px solid #ccc;
    padding: 15px 22px;
    border-radius: 20px;
    font-family: 'RoundMo', sans-serif;
    cursor: pointer;
    font-size: 20px;
    text-decoration: none;
    display: inline-block;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.back-button:hover { background-color: #2a3478; color: white; }


/* History Grid layout */
.history-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    justify-content: center;
    margin-top: 20px;
    padding: 0 20px;
    height: auto;
    overflow-y: auto;
}

/* History Box for each dish */
.history-box {
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 1.0);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 100%;
    max-width: 260px; /* Adjusted to fit in the grid */
    margin: 0 auto;
    text-align: center;
}

.history-box p {
    color: #646476;
    font-size: 18px;
    font-family: 'RoundMo', sans-serif;
    margin-top: 10px;
}

.history-box:hover {
    background-color: #6a6f89;
}

.history-box:hover p {
    color: white;
}

/* Pagination */
.pagination {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    gap: 20px;
}

.pagination a {
    padding: 10px 20px;
    background-color: #4d567b;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
}

.pagination a:hover {
    background-color: #606a8a;
}

.prev-page {
    background-color: #999;
}

.prev-page:hover {
    background-color: #6a6f89;
}

.next-page {
    background-color: #4d567b;
}

.next-page:hover {
    background-color: #6a6f89;
}

/* 마이페이지에 있는 모달
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 170px;
}

.modal button {
    margin-top: 30px;
    padding: 10px 20px;
    background-color: #E57157;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
} */
