
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>오늘의 레시피는? 시작</title>
    <link rel="stylesheet" href="../../static/css/style.css">
    <link rel="stylesheet" href="../../static/css/home.css">
    <style>

    </style>
</head>

<body>
    <!-- 회원가입 버튼 -->
    <a href="{% url 'signup' %}" class="signup-btn">회원가입</a>

    <div id="errorModal" class="modal">                 <!-- 여기서부터 -->
        <div class="modal-content">
            <p id="modalMessage"></p>
            <button onclick="closeModal()">확인</button>
        </div>
    </div>
    
    <script>
        function showModal(message) {
            document.getElementById("modalMessage").textContent = message;
            document.getElementById("errorModal").style.display = "block";
        }
    
        function closeModal() {
            document.getElementById("errorModal").style.display = "none";
        }
    
        {% if messages %}
            {% for message in messages %}
                {% if message.tags == "error" %}
                    showModal("{{ message }}");
                {% endif %}
            {% endfor %}
        {% endif %}
    </script>                           <!-- 여기까지 -->
    
    <h1>오늘의 레시피는?</h1>
    <form action="{% url 'login' %}" method="POST">
        {% csrf_token %}
        <div class="login-box">
            <input type="text" id="nickname" name="nickname" placeholder="아이디" required>
            <input type="password" id="password" name="password" placeholder="비밀번호" required>

            <button type="submit" class="login-btn">로그인</button>
        </div>
    </form>

    <div class="container">           
        <div class="belt belt1"></div>
        <div class="belt belt2 reverse"></div> 
        <div class="belt belt3"></div>            
        <div class="belt belt4 reverse"></div> 
        <div class="belt belt5"></div>
    </div>

</body>
</html>
