<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../../static/css/koreanfood.css">
        <script src="https://kit.fontawesome.com/kit_code.js" crossorigin="anonymous">
        </script>
        <title>Nav Bar</title>
    </head>

    <body>
        <div class="main_top">
            <div class="logo">
                <a><img src="../../static/img/logo1.png"></a>
            </div>
            <div class="icons">
                <a><img src="../../static/img/loginiconpng.png"></a>
                <a><img src="../../static/img/plusicon.png"></a>
            </div>
        </div>
        <nav class="navbar">
            <div class="navbar__logo">
                <i class="fas fa-blog"></i>
                <a href="">RECIPE</a>
            </div>
            <ul class="navbar__menu">
                <li><a href="#">Home</a></li>
                <li><a href="#">한식</a></li>
                <li><a href="#">중식</a></li>
                <li><a href="#">일식</a></li>
                <li><a href="#">양식</a></li>
                <li><a href="#">디저트</a></li>
            </ul>
            <ul class="navbar__icons">
                <li><i class="fab fa-google"></i></li>
                <li><i class="fab fa-slack"></i></li>
            </ul>
        </nav>
        <div class="main_middle">
            <div class="">
            </div>
            <ul>
            <table>
    <tr>
        <th>ID</th>
        <th>이름</th>
        <th>설명</th>
        <th>상세</th>
        <th>이미지</th>
    </tr>
    {% for recipe in recipes %}
    <tr>
        <td>{{ recipe.rec_id  }}</td>
<!--        <td>{{ GLOBAL_NICKNAME  }}</td>-->
        <td>{{ recipe.rec_name }}</td>
        <td>{{ recipe.rec_descrip }}</td>
        <td>{{ recipe.rec_detail }}</td>
        <td>
            {% if recipe.rec_img %}
                <img src="{{ recipe.rec_img }}" alt="{{ recipe.rec_name }}" style="width: 150px; height: auto;">
            {% else %}
                <p>이미지 없음</p>
            {% endif %}
        </td>
    </tr>
    {% endfor %}
</table>

        </ul>
        </div>
    </body>
</html>
