<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>오늘의레시피: 마이페이지</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/recommend.css">
</head>
<body>

   <div class="user-list">
        {% for user in users %}
            <div class="user-card">
                <p><strong>닉네임:</strong> {{ user.nickname }}</p>
                <p><strong>추천 레시피:</strong> {{ user.recom_rec_name }}</p>
                <p><strong>리스트:</strong> {{ user.list }}</p>
            </div>
        {% empty %}
            <p>추천 레시피가 없습니다.</p>
        {% endfor %}
    </div>

    <div class="container">
        <div class="belt belt1"></div>
        <div class="belt belt2 reverse"></div>
        <div class="belt belt3"></div>
        <div class="belt belt4 reverse"></div>
        <div class="belt belt5"></div>
    </div>
</body>
</html>